{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<form action="{{ path("fos_user_security_check") }}" method="post">

    <dl>
        <dt>
            <h3>Login</h3>
        </dt>
        {% if error %}
            <dd class="error">{{ error|trans({}, 'FOSUserBundle') }}</dd>
        {% endif %}
        <dd>
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </dd>
        <dd>
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" required="required" />
        </dd>
        <dd>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        </dd>
    </dl>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_content %}
